
body {
  padding: 0px;
  margin: 0px;
    /* image de fond de la page active */
  background-image: url(../Exercice_html_-_css/assets/background.png);
  }

  /* Add a background color to the top navigation */
.topnavbar {
  background-color: #C55394;
  overflow: auto; /* */
  font-family: 'Courgette',sans-serif;
  
}

/* Style the links inside the navigation bar */
.topnavbar a {
  font-family: Arial, sans-serif;
  float: right;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none; /* enleve la underline*/
  font-size: 12px;
}

/* Changement de couleur des liens quand le curseur passe dedans */
.topnavbar a:hover {
  background-color:#EB43A3;
  color: #f2f2f2;
}

.title {
  background-size: contain; /*image de fond s'affiche en entiere*/
  background-image: url(../Exercice_html_-_css/assets/rainbow.png); /* lien vers la source de l'image*/
  background-repeat: no-repeat; /*pas de repetition d'image de fond*/
  background-position: center;/*centrer l'image de fond*/
  text-align: center; /*le texte se positionne au centre*/
  height: 150px;
  color: #C55394;
  font-family: 'Courgette', cursive;
  font-style: italic;
  position: relative;
}

.card {
    border-radius: 10px;
    padding: 2%;
    margin-left: 15%; 
    margin-right: 15%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.5);
    transition: 0.3s;
    /* width: 40%; */
    background-color: white;
  }

.card:hover {
   box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
 .container i{
    color: #C55394;
    font-style: italic;
    font-family: 'Courgette', cursive;
 }


 .column {
    float: left;
    width: 23%;
    margin-bottom: 16px;
    padding: 0 8px;
}

.card1 {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    margin: 8px;
    /* background-color: rgba(0, 0, 0, 0.7); */
}

.container1 {
  padding: 0 16px;
}

.container1::after, .row::after {
    content: "";
    clear: both;
    display: table;
}
@media screen and (max-width: 650px) {
  .column {
      width: 100%;
      display: block;
  }
div.column img{
	display: block;
	width: 100%;
	height: auto;
	cursor: pointer;
}

/* .row .column #zoomIn figure img {
	transform: scale(1);
	transition: 0.3s ease-in-out;
}
.row .column #zoomIn figure:hover img {
	transform: scale(1.5);
} */

/* Create two equal columns that floats next to each other */
.column {
  /* width: 50%; */
  width: 320px;
  height: 240px;
  padding: 10px;
 }
/* .zoomIn{
  width: 100%;
  height: 100%;
}
.zoomIn img{
  transition: all 1s ease;
} */

.container-for-newletter {
  padding: 20px;
  background-color: #f1f1f1;
}
input[type=text], input[type=submit] {
  width: 100%;
  padding: 12px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
  height: 90px;
}

input[type=submit] {
  background-color: #C55394;
  color: white;
  border: none;
}

input[type=submit]:hover {
  opacity: 0.8;
}



